body {
    background-color: #d0e3e3;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* max-height: 100%; */
}

.container {
    /* border: solid 0.5px black; */
    height: 1000px;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 2%;
    max-height: 100%;
}

.image img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0px #888;
}

.image {
    display: inline-block;
    margin-top: 0px;
}

.info {
    display: inline-block;
    position: absolute;
    padding-left: 22px;
}

.information {
    font-size: 18px;
    margin: 0 0px 0px 0px;
}

h5.name {
    margin: 0px 0px 0;
    font-size: 50px;
    /* padding-bottom: 100px; */
}

h6 {
    margin: 0;
    padding: 10px 0px;
    font-size: 16px;
}

section.my_hobbies {
    background-color: white;
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 26%;
    padding-top: 0;
    margin-top: 20px;
}

.hobbies_div {
    position: absolute;
    top: 10%;
    left: 2%;
}

ol.hobbis_list {
    padding-inline-start: 15px;
}

li {
    padding: 2px 0px;
}

th {
    text-align: left;
    padding-bottom: 7px;
}

h2 {
    margin: 0;
    padding-bottom: 10px;
}

.work_exp_div {
    position: relative;
    left: 2%;
    top: 5%;
}

h3.portfolio_name {
    margin: 0 0 18px 0;
}

.work_exp_div>p {
    margin: 10px 0
}

hr {
    width: 95%;
    padding-left: 0;
    margin-left: 0;
}

input[type=text],
input[type=email] {
    width: 36%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #94b5b5;
    background: #d0e3e3;
}

.input_name_email {
    display: inline;
}

.input_div>label {
    display: block
}

.input_name_email>div {
    display: inline;
    /* border-bottom: 1px solid #a6bbbb; */
    padding-bottom: 27px;
}

h1 {
    text-align: center;
}

button.registerbtn {
    margin: 7px 0 30px 0;
    width: 86px;
    height: 34px;
    color: white;
    background-color: black;
    border: none;
}

button.registerbtn:hover {
    margin: 7px 0 30px 0;
    width: 90px;
    height: 38px;
    color: white;
    background-color: rgb(27, 26, 26);
    border: none;
}

textarea#message {
    display: block;
    background-color: #d0e3e3;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #a6bbbb;
}

td {
    color: #757575;
}

input[type=text]:focus,
input[type=email]:focus,
textarea[type=textarea] {
    background-color: #ddd;
    outline: none;
}

b {
    margin: 0px 438px 0px 0px;
}
